@import url("https://fonts.googleapis.com/css?family=Sarabun");
/* font-family: 'Sarabun', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
/* font-family: 'Open Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  font-family: "Sarabun", sans-serif;
  color: #666;
  background-color: #dadee838;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(75, 109, 223);
  border-radius: 4px;
  background-color: #c8eee0;
  color: rgb(41, 83, 135);
}

.navbar {
  padding: 50px 0px 50px 0px;
}


.EntryCard {
  width: 300px;
  border: solid blue 1px;
  padding: 20px;
  margin: 20px;
}
.EntryCard img {
  max-height: 100%;
  max-width: 100%;
}

.about {
  padding: 20px;
}

.title {
  padding: 20px;
}
